<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group class="menu_items">
        <ion-item>
            <h3>Porcentaje disponible <ion-chip color="success">100%</ion-chip></h3>
        </ion-item>

        <ion-item>
            <ion-input type="text" placeholder="Nombre"></ion-input>
            <ion-icon name="mail" slot="end"></ion-icon>
        </ion-item>
    
        <ion-item>
            <ion-select label="Parentesco" interface="action-sheet" placeholder="Seleccionar">
                <ion-select-option>
                    Opcion 1
                </ion-select-option>
            </ion-select>
        </ion-item>
    
        <ion-item>
            <ion-input type="number" placeholder="Porcentaje de participación"></ion-input>
            <ion-icon name="mail" slot="end"></ion-icon>
        </ion-item>

        <ion-button expand="block">Guardar</ion-button>
    </ion-item-group>
</ion-content>