<ion-content>
    <div class="menu_header_bg">

    </div>
    <div class="header_content">
        <img src="assets/img/Slice.png" />
        <ion-label>
            <h1>Umbrella Seguros</h1>
            <p>Gojo App</p>
        </ion-label>
    </div>
    <div class="action_button">
        <ion-button routerLink="/new">
            <ion-icon slot="start" name="add"></ion-icon> Nueva Poliza
        </ion-button>
    </div>

    <div class="menu_content">
        <ion-item-group class="menu_items">
            <ion-item-divider>
                <ion-label>Produccion</ion-label>
            </ion-item-divider>
    
            <ion-item>
                <ion-icon name="document-outline"></ion-icon>Polizas
            </ion-item>
            <ion-item>
                <ion-icon name="alert-circle-outline"></ion-icon>No Pagadas
            </ion-item>
    
            <ion-item-divider>
                <ion-label>Otros</ion-label>
            </ion-item-divider>
            <ion-item >
                <ion-icon  name="people-outline"></ion-icon>Clientes
            </ion-item>
        </ion-item-group>

        <ion-list lines="none" class="menu_items">
            <ion-item>
                <ion-icon name="log-out-outline"></ion-icon>Cerrar Sesion
            </ion-item>
        </ion-list>        
    </div>

</ion-content>